<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <div style="text-align: center;"><img src="assets/img/PetPlusImg.png"
		width="170"
		height="160">
	  </div>
  <div><a class="btn btn-primary btn-large btn-block" href="buscarficha">Buscar Ficha</a></div>
  <div ><a class="btn btn-primary btn-large btn-block" href="crearficha">Crear Ficha</a></div>
  <div style="text-align:buscarficha"><a class="btn btn-primary btn-large btn-block" href="hora">Horario</a></div>
  
  <a class="btn btn-primary btn-large btn-block" href="login">Cerrar Sesión</a>
</body>
</html>