<p>crearficha works!</p>
<form action="/my-handling-form-page" method="post">
    <ul>
     <li>
       <label for="name">Nombre Animal:</label>
       <input type="text" id="name" name="user_name">
     </li>
     <li>
        <label for="type">Especie:</label>
        <input type="text" id="type" name="type_animal">
      </li>
      <li>
        <label for="name">Raza:</label>
        <input type="text" id="name" name="user_name">
      </li>
     <li>
       <label for="mail">Edad</label>
       <input type="email" id="mail" name="user_mail">
     </li>
     <li>
        <label for="name">Color:</label>
        <input type="text" id="name" name="user_name">
      </li>
      <li>
        <label for="name">Genero:</label>
        <input type="text" id="name" name="user_name">
      </li>
      <li>
        <label for="name">Peso:</label>
        <input type="text" id="name" name="user_name">
      </li>
      <li>
        <label for="name">Estatura:</label>
        <input type="text" id="name" name="user_name">
      </li>
     <li>
       <label for="msg">Informe Consulta:</label>
       <textarea id="msg" name="user_message"></textarea>
     </li>
    </ul>

    <a class="btn btn-primary btn-large btn-block" href="#">Registrar</a>
    <a class="btn btn-primary btn-large btn-block" href="menu">Cancelar</a>

   </form>
   